<div>
    <!-- ng-content is transclude 
        move content children here

        ng-content data binding is executed on the content of parent/scopped style
    -->
    <ng-content></ng-content>
    <a routerLink="/" class="button" routerLinkActive="success" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/products" class="button" routerLinkActive="success">Products</a>
    <a routerLink="/cart" class="button" routerLinkActive="success">Cart</a>
    <a routerLink="/checkout" class="button" routerLinkActive="success">Checkout</a>
    <a routerLink="/about" class="button" routerLinkActive="success">About</a>
    <a routerLink="/contact" class="button" routerLinkActive="success">Contact</a>
    <a routerLink="/counter" class="button" routerLinkActive="success">Counter</a>
    <a routerLink="/auth/login" class="button" routerLinkActive="success">Login</a>


    <button>{{amount$ |async | currency:'INR' }} ({{count$ |async}}) items</button>
    <hr/>
</div>