<h3>Cart List</h3>
<!--
    # - Template reference variable
-->
<table *ngIf="cartItems.length > 0 else emptyTable">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
    </tr>
    <tr *ngFor="let cartItem of (cartItems | sort :'price')">
        <td>{{cartItem.name | uppercase}}</td>
        <td>{{cartItem.price | currency:'INR'}}</td>
        <td>{{cartItem.qty}}</td>
        <td>{{cartItem.price * cartItem.qty |currency :'INR'}}</td>
        <!-- <td><button (click)="removeItem()">Remove Item</button></td> -->
        <!--
            TODO: removeitem by Id
            place a button 
            (click)="removeItem(cartItem.id)"
        -->
    </tr>
</table>
<ng-template #emptyTable>
    <span>No Items in shopping cart!</span>
</ng-template>
